/* Class for buttons in App.js */
.btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    margin: auto;
}

.btns button {
    background-color: black;
    color: white;
    border-radius: 30px;
    width: 100px;
    height: 30px;
}

/* classes for the tooltip component */

/* div containing the text to hover over */
.toolTip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
    /* margin: auto; */
    left: 46%;
    margin-top: 200px;
    font-size: larger;
}

/* span in which text of tooptip is present */
.toolTip .toolTipText {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.toolTip:hover .toolTipText {
    visibility: visible;
}