/* Class for buttons in App.js */
.btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    margin: auto;
}

.toolTip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
    /* margin: auto; */
    left: 45%;
    margin-top: 200px;
    font-size: larger;
}

.toolTip .toolTipText {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.toolTip:hover .toolTipText {
    visibility: visible;
}